[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ddgr = "*"
mariadb = "*"
bs4 = "*"
requests = "*"
selenium = "*"
flask = "*"
jsonschema = "*"
pytest = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
ipdb = "*"
