-i https://pypi.org/simple
attrs==24.3.0 ; python_version >= '3.8'
beautifulsoup4==4.12.3 ; python_full_version >= '3.6.0'
bs4==0.0.2
certifi==2024.12.14 ; python_version >= '3.6'
charset-normalizer==3.4.0 ; python_full_version >= '3.7.0'
ddgr==2.2
h11==0.14.0 ; python_version >= '3.7'
idna==3.10 ; python_version >= '3.6'
mariadb==1.1.11
outcome==1.3.0.post0 ; python_version >= '3.7'
packaging==24.2 ; python_version >= '3.8'
pysocks==1.7.1
requests==2.32.3
selenium==4.27.1
sniffio==1.3.1 ; python_version >= '3.7'
sortedcontainers==2.4.0
soupsieve==2.6 ; python_version >= '3.8'
trio==0.27.0 ; python_version >= '3.8'
trio-websocket==0.11.1 ; python_version >= '3.7'
typing-extensions==4.12.2 ; python_version >= '3.8'
urllib3==2.3.0 ; python_version >= '3.9'
websocket-client==1.8.0 ; python_version >= '3.8'
wsproto==1.2.0 ; python_full_version >= '3.7.0'
